<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое веб-приложение</title>
    <script>
        function submitForm(event) {
            event.preventDefault();

            // Показать индикатор загрузки
            document.getElementById("loading").style.display = "block";

            // Отправить запрос через AJAX
            fetch("/run-main", {
                method: "POST",
                body: new FormData(event.target)
            })
            .then(response => response.json())
            .then(data => {
                // Если задача была успешно отправлена, начните опросить сервер о ее статусе
                if (data.message && data.task_id) {
                    checkTaskStatus(data.task_id);
                } else {
                    document.getElementById("loading").style.display = "none";
                    alert("Произошла ошибка при отправке задачи.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById("loading").style.display = "none";
                alert("Произошла ошибка. Пожалуйста, попробуйте еще раз.");
            });
        }

        function checkTaskStatus(task_id) {
            fetch(`/task-status/${task_id}`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'SUCCESS') {
                    document.getElementById("loading").style.display = "none";
                    alert("Задача завершена!");
                } else if (data.status === 'FAILURE') {
                    document.getElementById("loading").style.display = "none";
                    alert("Произошла ошибка при выполнении задачи.");
                } else {
                    setTimeout(function() {
                        checkTaskStatus(task_id);
                    }, 5000);  // Проверять каждые 5 секунд
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById("loading").style.display = "none";
                alert("Произошла ошибка при проверке статуса задачи. Пожалуйста, попробуйте еще раз.");
            });
        }

    </script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: {{ 'green' if category == 'success' else 'red' }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form id="mainForm" onsubmit="submitForm(event)">
        <button type="submit">Запустить функцию main</button>
    </form>

    <div id="loading" style="display: none;">
        <p>Ваш запрос обрабатывается, пожалуйста, подождите...</p>
        <img src="http://s3.dzarlax.dev/loading.gif" alt="Загрузка">
    </div>
</body>
</html>

