<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое веб-приложение</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: {{ 'green' if category == 'success' else 'red' }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/run-main" method="post">
        <button type="submit">Запустить функцию main</button>
    </form>
</body>
</html>
